# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# VS Code
.vscode/

# Java
*.class

# Logs
*.log

# Environment variables / secrets
.env

# OS files
.DS_Store
Thumbs.db